on:
  workflow_call: {}
jobs:
  flatpak-repo-merge:
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:freedesktop-25.08
      options: --privileged
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: import gpg key
        run: |
          echo '${{ secrets.private_gpg }}' | gpg --import
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: merge repo
        run: |
          mkdir out/repo
          ostree init --mode=archive-z2 --repo out/repo
          for bundle in artifacts/*/*.flatpak ; do
            flatpak build-import-bundle out/repo $bundle
          done
          flatpak build-update-repo --gpg-sign='${{ vars.gpg_email }}' out/repo
      - uses: actions/upload-artifact@v4
        with:
          name: merged-flatpaks
          path: out
