on:
  workflow_call:
    inputs:
      runner_name:
        required: true
        type: string
      runner_arch:
        required: true
        type: string
      flatpak_name:
        required: true
        type: string
      flatpak_id:
        required: true
        type: string
      flatpak_builder_args:
        default: master
        required: false
        type: string
jobs:
  flatpak-build-helper:
    name: ${{ inputs.flatpak_name }} ${{ inputs.runner_arch }}
    runs-on: ${{ inputs.runner_name }}
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:freedesktop-25.08
      options: --privileged
    steps:
      - uses: actions/checkout@v4
      - name: build
        run: |
          echo '${{ secrets.private_gpg }}' | gpg --import
          git clone 'https://github.com/pocketblue/${{ inputs.flatpak_name }}'
          flatpak remote-add --user --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
          flatpak-builder --disable-rofiles-fuse --user --gpg-sign='${{ vars.gpg_email }}' --install-deps-from=flathub --repo=repo build '${{ inputs.flatpak_name }}/${{ inputs.flatpak_id }}.yml'
          flatpak build-bundle repo '${{ inputs.flatpak_name }}-${{ inputs.runner_arch }}.flatpak' '${{ inputs.flatpak_id }}' ${{ inputs.flatpak_builder_args }}
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.flatpak_name }}-${{ inputs.runner_arch }}
          path: ${{ inputs.flatpak_name }}-${{ inputs.runner_arch }}.flatpak
