on:
  workflow_dispatch: {}
jobs:
  flatpak-build:
    strategy:
      matrix:
        flatpak:
          - name: handyfox
            id: io.github.pocketblue.handyfox
          - name: firefox-systemconfig
            id: org.mozilla.firefox.systemconfig
        runner:
          - name: ubuntu-24.04
            arch: x86_64
          - name: ubuntu-24.04-arm
            arch: aarch64
    name: ${{ matrix.flatpak.name }} ${{ matrix.runner.arch }}
    secrets: inherit
    uses: ./.github/workflows/flatpak-build.yml
    with:
      runner_name: ${{ matrix.runner.name }}
      runner_arch: ${{ matrix.runner.arch }}
      flatpak_name: ${{ matrix.flatpak.name }}
      flatpak_id: ${{ matrix.flatpak.id }}
  merge:
    permissions:
      contents: write
    secrets: inherit
    needs: flatpak-build
    uses: ./.github/workflows/merge.yml
